<div class="col-5" style="height: auto;">
    <div class="input-group">
        <input 
            class="form-control" 
            id="searchInput" 
            type="search" 
            placeholder="Search categories or products" 
            autocomplete="off" 
            aria-label="Search"
            aria-controls="productSuggestions">
        <button class="btn btn-primary" id="btnn" type="button">Search</button>
    </div>
</div>
<ul id="productSuggestions" class="list-group" style="display: none;"></ul>

<!-- Hidden input for store ID -->
<input type="hidden" id="storeInput" value="{{ store_id }}">

<script src="/static/js/search_bar.js"></script>
